attached_assets/Gravação_de_Tela_2026-06-29_000858_1782702582475.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/Gravação_de_Tela_2026-06-29_023253_1782711217305.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/Gravando_2026-06-30_023317_1782797670864.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/OnSignTV-10.6.12_1782847903726.apk filter=lfs diff=lfs merge=lfs -text
attached_assets/application-260e24f0-6709-4606-87bd-5bc9a8cdf92f_(1)_1783292572339.apk filter=lfs diff=lfs merge=lfs -text
attached_assets/versao_top_tb10_centro...._1783293440588.apk filter=lfs diff=lfs merge=lfs -text
