modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
WHATSAPP_PHONE = "5516982208695"

[objectStorage]
defaultBucketID = "replit-objstore-1552befc-a884-49dc-a2b8-4d898b04d755"
